<app-header [title]="category" [showBackButton]="true"></app-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!isMobile" class="view-toggle-container ion-padding">
    <ion-button class="navigation-button" fill="clear" (click)="toggleExpandedView()">
      <ion-icon
        slot="icon-only"
        [name]="isExpanded ? 'grid-outline' : 'list-outline'"
      ></ion-icon>
      <span>{{ isExpanded ? 'Vista griglia' : 'Vista espansa' }}</span>
    </ion-button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col [sizeLg]="isExpanded ? 3 : 1" size-md="1" *ngFor="let event of events">
        <app-card
          [title]="event.title"
          [routerLink]="['/event', event.eventID]"
          [state]="{event: event}"
          [imageUrl]="event.coverImage"
          [isExpanded]="isExpanded"
        ></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
