.category-card {
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }

  .image-container {
    width: 100%;
    height: 100px; // Altezza fissa per l'immagine
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px 16px 0 0;
  }

  ion-card-header {
    padding: 12px;
    text-align: center;
    --background: var(--ion-color-primary);

    ion-card-title {
      font-size: 16px;
      font-weight: 600;
      color: var(--ion-button-text);
    }
  }
}

/* Stile per rendere la griglia responsive */
@media (max-width: 768px) {
  .category-card {
    margin: 8px;

    .image-container {
      height: 100px;
    }

    ion-card-header {
      padding: 8px;

      ion-card-title {
        font-size: 14px;
      }
    }
  }
}
