<ion-content>
  <div class="center">
    <div class="recovery-container">
      <h1 class="name-page">Recupera Password</h1>
      <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
        <p class="recovery-form-label">
          Email
          <span
            style="color: red"
            *ngIf="recoveryForm.get('email')?.touched && recoveryForm.get('email')?.invalid && recoveryForm.get('email')?.errors?.['email']"
            class="recovery-error-message"
          >
            - Inserisci un indirizzo email valido
          </span>
          <span
            style="color: red"
            *ngIf="errorMessage && recoveryForm.get('email')?.valid"
            class="recovery-error-message"
          >
            - {{ errorMessage }}
          </span>
        </p>
        <ion-item [class.recovery-error]="errorMessage">
          <ion-input formControlName="email" required></ion-input>
        </ion-item>

        <div class="recovery-link-container">
          <a class="recovery-link">Torna al login</a>
          <ion-button type="submit">Invia</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
