ion-content {
  min-height: 100vh;
  font-family: "Alexandria", sans-serif;
  overflow-y: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.recovery-container {
  background: var(--background-color);
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 2em;
}

.name-page {
  font-size: 3.5em;
  font-weight: bold;
  color: var(--icon-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 10vh;
}

.recovery-form-label {
  font-size: 1em;
  font-weight: 500;
  color: var(--icon-color);
  margin: 10px 0;
}

ion-item {
  --background: var(--secondary-text-color) !important;
  margin-bottom: 1vh;
  --border-width: 1px;
  --border-color: var(--ion-color-primary);
  --border-radius: 10px;
  overflow: hidden;
  --padding-start: 0.5vw;
}

ion-item.recovery-error {
  border: 0.16vw solid var(--ion-color-danger, #a51000) !important;
}


ion-input {
  --color: var(--ion-color-secondary);
}


ion-button {
  --background: var(--ion-color-primary);
  font-size: 1.2em;
  --border-radius: 10px;
  text-transform: none;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 30px;
  --padding-end: 30px;
  margin-bottom: 0;
}


.recovery-link-container {
  width: 100%;
  margin-top: 0.1vw; // Ridotto rispetto a 0.52vw
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recovery-link {
  color: var(--ion-color-primary);
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 0;
}

.recovery-error-message {
  color: var(--ion-color-danger, #a51000);
}

@media screen and (max-width: 768px) {

  ion-item {
    width: 90vw;
  }

  .recovery-link-container {
    flex-direction: column-reverse;
  }

  ion-button {
    font-size: 1em;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 20px;
    --padding-end: 20px;
    margin-bottom: 10px;
    width: 70%;
  }
}