.image-container {
  // background-color: blue;
  height: 60vh;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out; /* Transizione di 1 secondo con easing */
}

/* Animazione di un'onda che attraversa il container */
@keyframes wave {
  0% {
    transform: translateX(-100%) skewX(45deg);
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(100%) skewX(45deg);
    opacity: 0.2;
  }
}

/* Elemento per l'effetto onda */
.wave-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  // background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transform: skewX(45deg);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .image-container {
    height: 22vh;
  }
  
}
