<ion-content>
  <div class="center">
    <div class="modify-container">
      <ion-label class="name-page">Reset della password</ion-label>
      <ng-container *ngIf="!isResettedPassword; else resetDone">
        <form [formGroup]="modifyForm" (ngSubmit)="onSubmit()">
  
  
          <p class="form-label">Password
            <span style="color: red" *ngIf="modifyForm.get('password')?.touched && modifyForm.get('password')?.hasError('required')">
              - La password è obbligatoria
            </span>
            <span style="color: red" *ngIf="modifyForm.get('password')?.touched && modifyForm.get('password')?.hasError('minLength')">
              - {{ modifyForm.get('password')?.getError('minLength') }}
            </span>
            <span style="color: red" *ngIf="modifyForm.get('password')?.touched && modifyForm.get('password')?.hasError('invalidPassword')">
              - {{ modifyForm.get('password')?.getError('invalidPassword') }}
            </span>
          </p>
  
          <ion-item>
            <ion-input [type]="passwordFieldType" formControlName="password"></ion-input>
          </ion-item>
  
          <p class="form-label">Conferma Password
            <span style="color: red" *ngIf="modifyForm.get('confirmPassword')?.touched && modifyForm.get('confirmPassword')?.hasError('required')">
              - La conferma della password è obbligatoria
            </span>
            <span style="color: red" *ngIf="modifyForm.get('confirmPassword')?.touched && modifyForm.errors?.['passwordMismatch']">
              - Le password non corrispondono
            </span>
          </p>
          <ion-item>
            <ion-input [type]="passwordFieldType" formControlName="confirmPassword"></ion-input>
          </ion-item>
  
          <div class="checkbox-show-password">
            <ion-checkbox slot="start" (ionChange)="togglePasswordVisibility($event)" ></ion-checkbox>
            <ion-label>Mostra password</ion-label>
          </div>
  
          <div class="button-row">
            <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="modifyForm.invalid">
              Salva modifiche
            </ion-button>
          </div>
  
        </form>
      </ng-container>
    </div>
      <ng-template #resetDone>
      <p>
        Password aggiornata con successo.<br>
      </p>
    </ng-template>
  </div>

</ion-content>