/* =========================
   CART CONTAINER
   ========================= */
.cart-container {
  display: flex;
  padding: 1vw;
  gap: 2vw; // Spazio tra tickets e summary
  margin-left: 15vw;
}

/* =========================
   TICKETS CONTAINER & ITEMS
   ========================= */
.tickets-container {
  flex: 2;
  background-color: var(--ion-color-secondary);
  border-radius: 20px;
}

.tickets-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.tickets-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--ion-button-text);
}

.cart-timer {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--ion-button-text)
}

.tickets-title-underline {
  height: 3px;
  background: #fff;
}

.ticket-item {
  display: flex;
  border-radius: 0.42vw;
  padding: 15px 10px 0 10px;
  margin-bottom: 10px;
  box-shadow: 0 0.2vw 0.2vws rgba(0, 0, 0, 0.1); // Ombra leggera
}

.empty-cart-message{
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    margin: 0vw;
    color: #9798a8;
    font-size: 1.2vw;
    padding-bottom: 2vw;
  }
}

.empty-cart-icon{
  margin-top: 2vw;
  font-size: 3vw;
  opacity: 0.7;
}

.ticket-details {
  flex: 1;
  color: var(--ion-button-text);

  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
  }
  
  p {
    margin: 0;
    font-size: 0.9rem;
  }
}

.ticket-row {
  display: flex;
  align-items: center;
  justify-content: space-between; // Allinea p a sinistra e i bottoni a destra
  gap: 1vw;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0 0 0.2vw 0;
}

.quantity {
  min-width: 1.5vw;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.empty-cart-message {
  color: var(--ion-button-text);
  font-size: 1.5em;
  margin: 10px;
}

ion-icon {
  color: var(--secondary-text-color);
}

/* =========================
   SUMMARY CONTAINER
   ========================= */
.summary-container {
  flex:1;
  border-radius: 20px;
  margin-right: 15vw;
}

@media (max-width: 768px) {
  .cart-container {
    flex-direction: column;
    margin-top: 20px;
    margin-left: 0vw;
  }
  .cart-timer{
    font-size: 1.2rem;
  }
  .ticket-details p {
    font-size: 0.8rem;
  }
  .tickets-title{
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .empty-cart-message{
    font-size: 1em;
  }
  .summary-container{
    align-items: center;
    margin-top: 0;
    margin-right: 0vw;

  }

  .empty-cart-message{

    p{
      font-size: 5vw;
    }
  }

  .empty-cart-icon{
    font-size: 10vw;
  }
  
}

